body{
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    justify-content: center;
    padding: 5px;
}
li{
    display: flex;
    justify-content: center;
    padding: 5px;
    color: aqua;
}
li.hover{
    color: blue;
}